// bower:scss
// endbower

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: white;
}

#webgl-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#webgl-canvas {
  width: 100%;
  height: 100%;
}

#stats {
  position: absolute;
  top: 0;
  left: 0;
}

.gradient-bg-cyan-black {
  background: linear-gradient(to bottom, #005C7A 0%, #000000 100%);
}

.gradient-bg-gray-black {
  background: linear-gradient(to bottom, #666666 0%, #000000 100%);
}

.gradient-bg-darkgray-black {
  background: linear-gradient(to bottom, #333333 0%, #000000 100%);
}
